html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
}

.feature-card {
  transition: 0.4s;
  cursor: pointer;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 15px;
}

footer {
  margin-top: 50px;
}
